@page "/qualifications/submit"
@page "/qualifications/submit/{id:guid}"
@attribute [Authorize]

<PageTitle>@Title</PageTitle>

@if(IsLoading)
{
	<Loading />
}
else if(!IsLoading && ApiError)
{
	<ApiError ErrorMessage="@ErrorMessage" />
}
else
{
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title mb-0">
						@Title						
					</h5>
				</div>
				<div class="card-body">
					<EditForm Enhance Model="Model" OnValidSubmit="HandleSubmit">
						<DataAnnotationsValidator />
						<div class="mb-3">
							<label class="form-label">Name</label>
							<InputText class="form-control form-control-lg"
									   @bind-Value="Model.Name"
									   type="text" />
							<ValidationMessage For="@(() => Model.Name)" />
						</div>
						<div class="row">
							<div class="col-md-6 mb-3">
								<label class="form-label">From Date</label>
								<InputDate class="form-control form-control-lg"
										   @bind-Value="Model.FromDate" />
								<ValidationMessage For="@(() => Model.FromDate)" />
							</div>
							<div class="col-md-6 mb-3">
								<label class="form-label">To Date</label>
								<InputDate class="form-control form-control-lg"
										   @bind-Value="Model.ToDate" />
								<ValidationMessage For="@(() => Model.ToDate)" />
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 mb-3">
								<label class="form-label">Total Credit</label>
								<InputNumber class="form-control form-control-lg"
										   @bind-Value="Model.TotalCredit" />
								<ValidationMessage For="@(() => Model.TotalCredit)" />
							</div>
							<div class="col-md-6 mb-3">
								<label class="form-label">Fees</label>
								<InputNumber class="form-control form-control-lg"
										   @bind-Value="Model.Fees" />
								<ValidationMessage For="@(() => Model.Fees)" />
							</div>
						</div>
						<div class="mb-3 mb-3">
							<label class="form-label">Description</label>
							<InputTextArea class="form-control form-control-lg"
								rows="6"
								@bind-Value="Model.Description"></InputTextArea>
							<ValidationMessage For="@(() => Model.Description)" />
						</div>

						<div>
							<button class="btn btn-lg btn-primary"
									type="submit">
								@ButtonLabel
							</button>
							<a class="btn btn-lg btn-secondary ms-1"
									href="/qualifications">
								Cancel
							</a>
						</div>

					</EditForm>
				</div>
			</div>
		</div>
	</div>
}
